@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap');

* {
    box-sizing: border-box;
}

body * {
    font-family: 'Roboto', sans-serif;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main-content {
    width: 100%;

    padding: 5%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 300px;
}