@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,500&display=swap');

* {
    box-sizing: border-box;
    --text: #111023;
    --background: #e0e0f1;
    --primary: #5c57b2;
    --secondary: #cfcee9;
    --accent: #5c57b2;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

body * {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

.layout {

    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: grid;
    grid-template-rows: auto 1fr;
}

.main-content {
    width: 100%;

    padding: 5%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 300px;
}

.hidden {
    display: none;
}

.visible {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.icon {
    height: 20px;
    width: 20px;
}

.form-container {
    background-color: rgba(101, 101, 101, 0.22); 
    backdrop-filter: blur(1px);

    display: grid;

    align-items: center;
    justify-content: center;
}

form {
    background-color: var(--secondary);
}